/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: Vanda Illyes
Developer @GA in LDN
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/******************************************
/* INDEX
/*******************************************/

/* Header */
.index-header {
  background: url(../images/header_bg.jpg) no-repeat center rgb(134,141,157);
  background-size: cover;
}
h1 {
  font-size: 48px;
  font-weight: 800;
  color: #FFF;
  letter-spacing: 1.2px;
  padding-left: 50px;
  padding-top: 10px;
}
h2 {
  font-size: 24px;
  font-weight: 600;
  color: #FFF;
  text-align: center;
  padding: 10px 0 45px 0;
}
a { /* This also defines properties and values for the button in 'Sign Up'. */
  font-weight: 800;
  border-radius: 5px;
  text-decoration: none;
  width: 200px;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.hover:hover{
  box-shadow: 2px 2px 3px #9F034C;
}
.get-it {
  padding-bottom: 120px;
}
.get-it-button {
  font-size: 14px;
  color: #033048;
  background-color: #f9e42e;
}

/* Benefits */
.benefits {
  background-color: #f0efef;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #033048;
  padding: 45px 0 10px 50px;
}
p,
ul {
  font-size: 13px;
  font-weight: 300;
  color: #606161;
  margin-left: 50px;
}
ul {
  padding: 30px 0 45px 60px;
}
li {
  list-style: disc;
}

/* Testimonial */
.testimonial {
  background: url(../images/testimonial_bg.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.9;
}
blockquote {
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding: 45px 0 0 0;
}
.customer {
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 45px 0;
}

/* Sign Up */
.sign-up-lane {
background-color: #f9e42e;
}
.sign-up {
  padding: 20px 0;
}
.sign-up-button {
  font-size: 12px;
  color: #FFF;
  background-color: #033048;
}

/* Social Media */
.social-media {
background-color: #121212;
}
h5 {
  color: #f9e42e;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 1.2px;
  padding: 35px 0 20px 0;
}
.twitter-container {
  float: left;
  position: relative;
  width: 50%;
  height: 50px;
}
.twitter {
  float: left;
  width: 40px;
  height: 45px;
  background: url(../images/twitter.png) no-repeat center;
  background-size: 75% auto;
  position: absolute;
  right: 5px;
}
.facebook-container {
  float: right;
  position: relative;
  width:50%;
  height: 50px;
}
.facebook {
  float: right;
  width: 40px;
  height: 45px;
  background: url(../images/facebook.png) no-repeat center;
  background-size: auto 65%;
  position: absolute;
  left: 5px;
}

/* Footer */
footer {
  background-color: #121212;
  color: #FFF;
  font-size: 9px;
  font-weight: 600;
  text-align: center;
  padding: 40px 0 25px 0;
  clear: both;
}

/******************************************
/* BLOG
/*******************************************/

/* Set the background grey for the mid lane area*/
#blog-container {
  background-color: #f0efef;
}

/* Header */
.blog-header {
  background-color: #033048;
}

.blog-h1 {
  float: left;
  width: 40%;
}

.blog-nav {
  float: right;
  width: 60%;
}

nav ul li {
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  padding: 0 0 0 20px;
}

  nav ul li a {
    text-decoration: none;
    display: inline;
    color: #f9e42e;
  }

  nav ul li a:hover {
    color: #9F034C;
  }

/* Mid Lane */
#mid-lane {
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Case Studies */
.case-studies {
  width: 66%;
  float: left;
  background-color: #f0efef;
  padding-right: 10px;
  padding-bottom: 60px;
}

.case-study {
  position: relative;
  border-bottom: 1px solid #606161;
  margin-bottom: 30px;
}

article h2 {
  color: #033048;
  font-weight: 600;
  font-size: 40px;
  text-align: left;
}

article p {
  color: #606161;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.4;
  margin-left: 0;
  padding-bottom: 100px;
}

article p:first-letter { /*When I include "first-child" as well (article p:first-child:first-letter), then it doesn'get picked up. Why is that?*/
  float: left;
  font-size: 60px;
  font-weight: 600;
  padding-right: 10px;
}

.case-study-pic {
  width: 100%;
}

.read-more {
  color: #033048;
  font-weight: 600;
  font-size: 24px;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 0;
  padding-bottom: 20px;
}

.read-more:hover {
  color: #9F034C;
}

/* Side Bar */
.side-bar {
  width: 34%;
  float: right;
  background-color: #f0efef;
  padding-left: 10px;
}

aside h2 {
  color: #033048;
  font-weight: 800;
  font-size: 32px;
  text-align: left;
  padding-bottom: 20px;
}

.categories {
margin-bottom: 50px;
}

aside ul {
  padding: 0;
  margin: 0;
}

  aside ul li {
    list-style: none;
  }

    aside ul li a {
      text-decoration: none;
      color: #033048;
      font-weight: 300;
      font-size: 24px;
      text-align: left;
      padding: 0;
      margin: 0;
    }

.about {
    margin-bottom: 50px;
    }

aside p {
  color: #033048;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
  margin-left: 0;
}

.learn-more {
  color: #033048;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.learn-more:hover {
  color: #9F034C;
}

/* Sign Up */
.blog-sign-up-lane {
  background-color: #f9e42e;
  clear: both;
  display: block;
}
